<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="dashboard/header :: header"></head>
<body>

<!--
@desc  添加
@author 张三
@since 2019-12-25 10:15:23
-->
	<div layout:fragment="content">
		<div class="container-fluid content-main">
			<div class="animated fadeIn">
				<div class="row">
					<!-- /.col-->
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form class="form-horizontal" id="addForm">
<div class="form-group row">
	<label class="col-md-2 col-form-label control-label" for="text-input">教师姓名</label>
	<div class="col-md-9">
				<input class="form-control" id="name" type="text" name="name" placeholder="教师姓名">
			</div>
</div>
												<div class="form-group row">
	<label class="col-md-2 col-form-label control-label" for="text-input">工号</label>
	<div class="col-md-9">
				<input class="form-control" id="number" type="text" name="number" placeholder="工号">
			</div>
</div>
																			</form>
							</div>
						</div>
					</div>
					<!-- /.col-->
				</div>
			</div>
		</div>

	</div>

	<footer th:replace="dashboard/footer :: footer"></footer>

	<script type="text/javascript">
		function submitHandler() {
		    var saveUrl = ctx+"alinsno/lin/demo/teacher/save" ;
			$.operate.save(saveUrl , $('#addForm').serialize());
	    }
	</script>

</body>
</html>


